/* Card.module.css */

.card {
  position: relative;
  width: 390px;
  height: 300px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  /* background-color: #db8e35; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border: 2px solid #db8e35;
  backdrop-filter: blur(5px);
  cursor: pointer;
  transition: 0.5s;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: opacity 0.5s;
}

/* Card.module.css */

.card .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0; /* Adjust top position to start both contentTop and contentBottom from the top */
  padding: 20px;
  text-align: center;
  transform: translateY(-100%);
  opacity: 0;
  backdrop-filter: blur(5px);
  color: white;
  transition: transform 0.5s, opacity 0.5s; /* Add transition for smoother animations */
}

.card:hover .banner {
  opacity: 0;
}

.card:hover .content {
  transform: translateY(
    0
  ); /* Bring both contentTop and contentBottom to their original positions */
  opacity: 1;
}

.contentTop {
  /* Add animation to contentTop */
  animation: slideFromTop 0.5s forwards;
}

.contentBottom {
  /* Add animation to contentBottom */
  animation: slideFromBottom 0.5s forwards;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Center the content inside the card */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .card {
    width: 350px;
    height: 260px;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 320px;
    height: 220px;
  }
}

@media screen and (max-width: 400px) {
  .card {
    width: 300px;
    height: 200px;
  }
}
