.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.about {
  font-size: 45px;
  text-transform: capitalize;
  margin-top: 80px;
  position: relative;
  color: rgb(68, 67, 67);
  width: 100vh;
  text-align: center;
}

.underLine {
  text-align: center;
  margin-top: -10px;
  height: 20px;
  width: 80px;
  border-bottom: 3px solid rgb(68, 67, 67);
  margin-bottom: 80px;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
  background-image: url("../../Images/projectbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
