.navbarContainer {
  position: relative;
  z-index: 100;
}

.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
}

.menu,
.menuactive {
  font-weight: 600;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 16px;
  transition: margin-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.menuactive {
  color: #db8e35;
  border-bottom: 2px solid #db8e35;
}

.menu:hover,
.menuactive:hover {
  color: #db8e35;
  transition: 0.5s;
  border-bottom: 2px solid #db8e35;
}

.logoImg {
  width: 10rem;
  height: 6rem;
}

.miniheader {
  background-color: #5b92b1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.miniheader h1 {
  color: #8fbd50;
  font-size: 20px;
  font-weight: 200;
}
.miniheader ul {
  display: flex;
  gap: 15px;
  color: #dadada;
}

/* li {
  list-style-type: none;
} */
.miniheader li {
  font-size: 16px;
}

.icons {
  display: flex;
  align-items: center;
  color: white;
}

/* a {
  text-decoration: none;
} */

@media screen and (max-width: 768px) {
  .miniheader ul {
    flex-direction: column;
  }
  .logoImg {
    width: 8rem;
    height: 5rem;
    margin-top: 5px;
  }
}
