.navbar {
  text-align: center;
}

.navbar-list {
  list-style: none;
}

.navbar_list li {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 33px;
  font-weight: 1000;
  cursor: pointer;
}

.navbar_list li :hover {
  color: red;
  border-bottom: 3px solid red;
}

.navbar_list-active li {
  color: goldenrod;
  border-bottom: 3px solid red;
}

@media screen and (max-width: 1200px) {
  .navbar_list li {
    font-size: 29px;
    font-weight: 800;
  }
}
