.navbarContainer {
  position: relative;
  z-index: 100;
}

.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
}

.menuactive,
.menu:hover {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: underline;
}

.logoImg {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem 2rem;
}

.miniheader {
  background-color: #5b92b1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.miniheader h1 {
  color: #8fbd50;
  font-size: 20px;
  font-weight: 200;
}
.miniheader ul {
  display: flex;
  gap: 15px;
  color: #dadada;
}

/* li {
  list-style-type: none;
} */
.miniheader li {
  font-size: 16px;
}

.icons {
  display: flex;
  align-items: center;
  color: white;
}

/* a {
  text-decoration: none;
} */

@media screen and (max-width: 768px) {
  .miniheader ul {
    flex-direction: column;
  }
}
