.flippable-card-container {
  height: 550px;
  width: 400px;
  perspective: 1000px;
}

@media screen and (max-width: 8500px) {
  .flippable-card-container {
    width: 370px;
  }
}

@media screen and (max-width: 500px) {
  .flippable-card-container {
    width: 350px;
  }
}

@media screen and (max-width: 420px) {
  .flippable-card-container {
    width: 300px;
  }
}

