.footer {
  background-image: linear-gradient(25deg, #011a2e, #071017);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.icon {
  color: white;
  margin: 10px;
  font-size: 25px;
}

.icon:hover {
  color: rgb(83, 83, 246);
}
