.home {
  background: url(../../Images/austin-poon-JO_S6ewBqAk-unsplash.jpg);
  background-size: cover !important;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.9;
  width: 100%;
  z-index: -1;
}

.name_social_container {
  position: relative;
  text-align: center;
}


.name {
  font-size: 5rem;
  letter-spacing: 0.1rem;
  color: whitesmoke;
  font-weight: 700px;
  margin-top: 16.5rem;
}

.slogan{
  color:whitesmoke;
  margin: 10px 0;
  font-size: 25px;
}

.social_list{
  list-style: none;
  padding-left: 0%;
}

.social_list li {
  display: inline-block;
  margin:  0px 8px;
  font-weight: 100;
  font-size: 0.9rem;
}

.social_list li a {
  color: white;
  text-decoration: none;
}

.social_list li :hover{
  color: gray;
}