.container {
  width: 50vh;
  margin-left: 40px;
  background-color: transparent;
}

.labelProgressContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 28px;
  margin: 10px;
}

.label {
  margin-right: 10px;
  background-image: linear-gradient(25deg, #011a2e, #071017);
  color: #db8e35;
  width: 150px;
  text-align: center;
  height: 28px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressBar {
  width: calc(100% - 25px); /* Set a fixed width with some margin for the percentage text */
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0;
  margin-left: -10px;
  position: relative;
  background-color: transparent;
}

.percentageText {
  margin-left: 15px;
  color: #071017;
  font-weight: 600;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 40vh;
    margin-left: 0px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 45vh;
  }
  .percentageText {
    margin-left: 20px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 40vh;
  }
}

@media screen and (max-width: 380px) {
  .container {
    width: 38vh;
  }
  .label {
    font-size: 12px;
  }
}
